.footer-main {
    width: 100%;
    height: 150px;
}
.welcome {
    margin: 2% auto auto auto;
    width: 430px ;
    overflow: hidden;
    text-align: center;
}

.welcome-footer {
    font-size: 14px;
    color: rgb(61, 61, 61);
    font-weight: bold;
 
    
}

.p-footer{
    margin-top: 7%;
    font-size: 13px;
    line-height: 23px;
    font-weight: lighter;
    color: rgb(61, 61, 61);
}

.copy {
    margin: -2% 0% 0% 0%;
    text-align: center;
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.footer2-main {
   
    width: 100%;
    height: 70px;
}

.copy a {
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.copy a:hover {
    opacity: 0.6;
}

.networks-footer {
    margin: 8% 0% 0% 7%;
    text-align: left;
    opacity: 0.8;
    
}

.div-a {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin: -3% 0% 0% 83%;
    background-image: url('https://res.cloudinary.com/dsii7wbi4/image/upload/v1650219561/porfolio/bxl-github_icdebr.svg');
}


.div-a:hover {
    opacity: 0.7;
}
