.imgback1-1 {
    width: 270px;
    height: 270px;
    background-image: url("https://res.cloudinary.com/dsii7wbi4/image/upload/v1650741555/MubiShop/MUBISHOP_LIMBO_1_updated_c4356ba4-cc54-4b25-a2e4-9be9845fa8dd_300x_zhozwk.webp");
}

.imgback2-2 {
    width: 270px;
    height: 270px;
    background-image: url("https://res.cloudinary.com/dsii7wbi4/image/upload/v1650834157/MubiShop/1I5A9085_CopyrightRichardBoll_7f6e2372-4af5-40c8-b671-2772d796471a_300x_1_dacvk6.webp");
}

.imgback3-3 {
    width: 270px;
    height: 270px;
    background-image: url('https://res.cloudinary.com/dsii7wbi4/image/upload/v1650752726/MubiShop/mockup-mug-3-03_720x_mjlnfz.webp');
}

.imgback4-4 {
    width: 270px;
    height: 270px;
    background-image: url('https://res.cloudinary.com/dsii7wbi4/image/upload/v1650753508/MubiShop/1I5A9000_CopyrightRichardBoll_720x_dyurss.webp');
}

.imgback5-5 {
    width: 270px;
    height: 270px;
    background-image: url('https://res.cloudinary.com/dsii7wbi4/image/upload/v1650753723/MubiShop/MUBISHOP_LIMBO_1_720x_m8pt80.webp');
}

.imgback6-6 {
    width: 270px;
    height: 270px;
    background-image: url('https://res.cloudinary.com/dsii7wbi4/image/upload/v1650753728/MubiShop/1I5A9063_CopyrightRichardBoll_720x_nwtugp.webp');
}